{
  "env": {
    "server": {
      "presets": ["react", ["env", {
        "targets": {
          "node": "current"
        }
      }]],
      "plugins": ["transform-object-rest-spread", "transform-class-properties"]
    },

    "client": {
      "presets": ["react", ["env", {}]],
      "plugins": ["transform-object-rest-spread", "transform-class-properties"]
    },
  }
}
