#markdown-editor
  &.editMode
    border           1px solid #eee
    background-color white
    border-radius    2px
    margin           -6px -9px

  .hljs
    width       100%
    white-space pre-wrap
    word-wrap   break-word
    margin      0
    padding     5px 8px
    color       $wundf-black
    min-height  100px

  .hljs-section
    color $red

  .hljs-string
    color $link-blue

  .hljs-link
    color $link-blue

  .hljs-symbol
    color $link-blue

  .hljs-bullet
    color $link-blue

  .hljs-quote
    color $text-grey

  .hljs-strong
    color       $text-grey
    font-weight bold

  .hljs-emphasis
    color      $text-grey
    font-style italic

  .code
    display     block
    font-family 'Noto Serif', serif
    line-height 1.7em
    font-weight normal
    font-style  normal
