#creatives-page
  margin     0 auto
  max-width  $page-width

  .creatives-image
    position         fixed
    top              0
    right            0
    bottom           0
    background-color $light-grey
    width            calc(50% + 50px)

  .creatives-section
    width calc(50% - 90px)
