//start page
.sloagen
.sub-sloagen
  text-align  center
  font-size   50px
  font-weight 400

.sloagen
  margin-top  70px
  height      24px
  white-space nowrap

  strong
    font-weight normal
    font-weight 600

.contact
  margin     60px 0 50px
  text-align center
  font-size  17px
  color      $text-grey

  a
    color      $text-grey
    transition color 0.5s
    border     0

    &:hover
      color $link-blue

.news-feed
  list-style none
  padding    0

  //the post
  .fb-post
    margin-bottom 70px

    @media $mobile
      margin-bottom 20px

    img
      animation blurIn 2s
      transition 2s

      &.isHighRes
        animation none
        filter    none

  .fb-link
    border 0

  .fb-date
    font-size  18px
    color      $text-grey
    margin     0 0 15px

  .fb-picture
    width     100%
    max-width $inner-width
    height    auto

  .fb-message
    margin-top 18px

    @media $mobile
      margin-top 3px

.more-news-link
  border-top  1px dotted
  padding-top 20px
  margin-top  80px

  @media $mobile
    margin-top  30px
    padding-top 10px

.impressum
  background-color #eee
  background-color $transparent-grey
  position         absolute
  left             0
  margin-top       50px
  width            100%
  padding          10px 0
  font-size        0.7em
  color            #777
  text-align       center

  @media $mobile
    margin-top 0
