#news-page
  margin     0 auto
  max-width  $page-width
  padding    0 40px

  .sloagen
  .sub-sloagen
    text-align  center
    font-size   50px
    font-weight 400

  .sloagen
    margin-top  70px
    height      30px
    white-space nowrap

    strong
      font-weight normal
      font-weight 600

  .contact
    margin     60px 0 50px
    text-align center
    font-size  17px
    color      $text-grey

    a
      color      $text-grey
      transition color 0.5s
      border     0

      &:hover
        color $link-blue

  .news-feed
    list-style none
    padding    0

  //the post
  .fb-post
    margin-bottom 70px

  .fb-picture
    transition opacity 1s

    &.low-res
      opacity 0

  .fb-link
    border           0
    display          block
    background-color $light-grey

  .fb-date
    font-size  18px
    color      $text-grey
    margin     0 0 15px

  .fb-picture
    width     100%
    height    auto

  .fb-message
    margin-top 18px

  .impressum
    background-color $light-grey
    position         absolute
    left             0
    margin-top       50px
    width            100%
    padding          10px 0
    font-size        0.7em
    color            $text-grey
    text-align       center
