#news-page

  .sloagen
  .sub-sloagen
    width       calc(100% + 50px)
    margin-left -25px
    text-align  center
    font-size   49px
    font-weight 400
    color       $wundf-black

    @media $narrow
      font-size 47px
    @media $mobile
      font-size 35px
    @media $small-mobile
      font-size 23px

  .sloagen
    margin-top    70px
    margin-bottom 0
    height        68px
    white-space   nowrap

    @media $narrow
      height     auto
      margin-top 40px
    @media $mobile
      margin-top 25px

  .sub-sloagen
    margin-top    0
    margin-bottom 0

  .buzzword
    font-weight normal
    font-weight 600

    @media $narrow
      display block
      height  62px
    @media $mobile
      height 50px
    @media $small-mobile
      height 35px

  .contact
    margin      50px 0 50px
    text-align  center
    font-size   17px
    line-height 1.7em
    color       $text-grey

    @media $narrow
      margin-top 40px
    @media $mobile
      margin-top    20px
      margin-bottom 20px
      font-size     14px
    @media $small-mobile
      font-size     12px

    a
      color      $text-grey
      transition color 0.5s
      border     0

      &:hover
        color $link-bluex

  .phone-and-mail
    white-space nowrap
    margin      0

  .news-feed
    list-style none
    padding    0

  //the post
  .fb-post
    margin-bottom 70px

    @media $mobile
      margin-bottom 40px

  .fb-picture
    transition       opacity 1s
    transition-delay 1s

    &.low-res
      opacity 0

  .fb-link
    border           0
    display          block
    background-color $light-grey

  .fb-date
    font-size  18px
    color      $text-grey
    margin     0 0 15px
    @media $mobile
      font-size     15px
      margin-bottom 8px

  .fb-picture
    width     100%
    height    auto

  .fb-message
    margin-top  18px
    line-height 1.5em
    @media $mobile
      margin-top 12px

  .impressum
    background-color $light-grey
    margin-top       50px
    width            100%
    padding          10px 0
    font-size        0.7em
    color            $text-grey
    text-align       center
