#storiesPage
  list-style    none
  display       flex
  flex-wrap     wrap
  padding       0
  margin-top    50px
  margin-bottom 30px
  overflow      hidden

  .storie
    float         left
    width         (($page-width - 50px) / 3)
    margin-bottom 30px

    &:nth-child(3n - 1)
      margin 0 25px

  .storie-link
    border 0

    &:hover .storie-titel
      color $link-blue

  .storie-titel
    font-weight normal
    font-size   14px
    transition  color 0.5s
    margin      5px 0 0
    color       $wundf-black
    text-align  center

  .storie-img
    width 100%
