#creatives-page

  .creatives-section
    width         calc(50% - 110px)
    min-height    calc(100vh - 270px)
    margin-bottom 60px

    @media $narrow
      width calc(50% - 80px)
    @media $mobile
      min-height    0
      width         100%
      margin-bottom 30px

  .creatives-image
    position         fixed
    top              $header-height
    right            0
    bottom           0
    width            calc(50% + 55px)
    background-size  cover
    transition       opacity 1s
    background-color $light-grey
    opacity          0

    @media $narrow
      width calc(50% + 35px)
      top   $small-header-height
    @media $mobile
      position  static
      display   block
      width     100%
      height    250px
      opacity   1

    &.current-image
      opacity 1

  .creatives-section-title
    margin 45px 0 25px
    width  calc(100% + 18px)

    &.editMode
      $title()
      $input()
      display block
      padding 3px 8px
      margin  41px -9px 21px

    @media $mobile
      margin 35px 0 15px

  .creatives-text
    line-height 1.7em
    max-width   500px

  .edit-panel
    position fixed
    top      $header-height
    left     calc(50% - 55px)
    padding  25px 30px

    @media $narrow
      left  calc(50% - 35px)
      top   $small-header-height

    button
    label
      font-size     13px
      padding       2px 8px
      margin-bottom 15px

    label
      padding 3px 8px

    .delete-button
      $button(background-color: $red)

    .edit-image-button
    .create-button
      $button()

    .file-selector
      display none

  .create-button
    $button()
    font-size     13px
    padding       2px 8px
    margin-bottom 70px
    margin-left   -9px
