//keyframe animations
@keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1

@keyframes pulse
  0%
    opacity    1
    transform: scale(1);
  50%
    opacity    0.4
    transform: scale(1.1);
  100%
    opacity    1
    transform: scale(1);

@keyframes flip
  0%
    transform rotateX(0deg)
  50%
    transform rotateX(90deg)
  100%
    transform rotateX(0deg)

//react animations

.flip-enter
  transform  rotateX(90deg)
  transition transform .2s 1s ease-out
  @media mobile
    transition opacity .1s
    opacity 0

.flip-enter.flip-enter-active
  transform rotateX(0)
  @media mobile
    opacity    1


.flip-leave
  transform  rotateX(0)
  transition transform .2s .8s ease-in
  @media mobile
    transition opacity .1s .1s
    opacity    1

.flip-leave.flip-leave-active
  transform rotateX(90deg)
  @media mobile
    opacity 0
