*
  box-sizing border-box

body
  color          $wundf-black
  font-size      16px
  background     $background-grey
  font-family    'Noto Serif', serif
  font-weight    400
  margin         0
  @media $small-mobile
    font-size 12px
  @media $small-mobile-wide
    font-size 14px

h2
  font-weight bold
  color       $text-grey
  font-size   18px
  @media $small-mobile
    font-size 15px

a
  color           $link-blue
  text-decoration none
  border-bottom   1px solid $link-blue


.content
  margin-top $header-height
  overflow   hidden
  position   relative
  @media $mobile
    margin-top $mobile-header-height

.inner-content
  margin 0 auto
  width  $page-width

  @media $mobile
    width   100%
    padding 0 50px

  @media $small-mobile
    padding 0 20px

  @media $small-mobile-wide
    padding 0 70px
