*
  box-sizing border-box

body
  color          $wundf-black
  font-size      16px
  background     $background-grey
  font-family    'Noto Serif', serif
  font-weight    400
  line-height    1.5em
  margin         0

  @media mobile
    font-size 12px

h2
  font-weight bold
  color       $text-grey
  font-size   18px

a
  color           $link-blue
  text-decoration none
  border-bottom   1px solid $link-blue


.content
  margin-top $header-height
  overflow   hidden
  position   relative

  @media $mobile
    padding-top $mobile-header-height
