*
  box-sizing border-box

body
  color          $wundf-black
  font-size      16px
  background     $background-grey
  font-family    'Noto Serif', serif
  font-weight    400
  margin         0
  @media $mobile
    font-size                15px
    -webkit-text-size-adjust 100%

h2
  $title()

a
  color           $link-blue
  text-decoration none
  border-bottom   1px solid $link-blue

.content
  margin-top $header-height
  overflow   hidden
  position   relative
  @media $narrow
    margin-top $small-header-height

.inner-content
  margin 0 auto
  width  $page-width

  @media $narrow
    width   100%
    padding 0 50px

  @media $mobile
    padding 0 70px

  @media $small-mobile
    padding 0 20px
