.blackHeader
  position         fixed
  top              0
  left             0
  background-color $wundf-black
  height           $header-height
  width:           100%
  z-index          200
  @media $mobile
    height $mobile-header-height

.topNavigation
  max-width 660px
  margin    0 auto

  ul
    margin 0
    padding 0

  .menu-item
    display    table
    list-style none
    float      left
    width      33%
    height     100%
    padding    0
    margin     0

    a
      display        table-cell
      padding-top    5px
      height         100%
      color          white
      position       relative
      text-align     center
      vertical-align middle
      border         0

    .menu-img
      margin-top -15px
      @media $mobile
        height     13px
        margin-top -11px


    .menu-logo
      margin-left -13px
      @media $mobile
        height 35px

    .active
      &:after
        content        ' '
        position       absolute
        margin-left    -12px
        left           50%
        bottom         -13px
        width          0
        height         0
        border-left    12px solid transparent
        border-right   12px solid transparent
        border-top     13px solid $wundf-black
