//sizes
page-width           = 960px
page-padding         = 40px
inner-width          = page-width - page-padding * 2
header-height        = 68px
mobile-header-height = 50px

//colors
wundf-black      = #111
grey             = #666
transparent-grey = rgba(0, 0, 0, 0.02)


//breakpoints
mobile       = "all and (max-width: 700px)"
small-mobile = "all and (max-width: 320px)"

@import "_animations.styl"
@import "_global"
@import "_header"

@import "sites/news"
@import "sites/stories"
@import "sites/creatives"
