@font-face
    font-family: 'Noto Serif'
    font-weight: 600
    font-style: normal
    src: url('../fonts/NotoSerif-Bold.woff') format('woff')

@font-face
    font-family: 'Noto Serif'
    font-weight: 400
    font-style: normal
    src: url('../fonts/NotoSerif-Regular.woff') format('woff')

//sizes
$page-width           = 900px
$header-height        = 68px
$small-header-height  = 50px

//colors
$wundf-black     = #111
$background-grey = #f5f5f5
$text-grey       = #4F4F4F
$light-grey      = #EEE
$link-blue       = #538389

//breakpoints
$narrow       = "all and (max-width: 1024px)"
$mobile       = "all and (max-width: 700px)"
$small-mobile = "all and (max-width: 550px)"

@import "_global"
@import "_header"

@import "sites/*"
