article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Colaborate';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/ColabMed-webfont.eot");
  src: url("../fonts/ColabMed-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ColabMed-webfont.woff") format('woff'), url("../fonts/ColabMed-webfont.ttf") format('truetype'), url("../fonts/ColabMed-webfont.svg#colaborate-mediumregular") format('svg');
}
@font-face {
  font-family: 'Colaborate';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ColabLig-webfont.eot");
  src: url("../fonts/ColabLig-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ColabLig-webfont.woff") format('woff'), url("../fonts/ColabLig-webfont.ttf") format('truetype'), url("../fonts/ColabLig-webfont.svg#colaboratelightregular") format('svg');
}
@font-face {
  font-family: 'Colaborate';
  src: url("../fonts/ColabThi-webfont.eot");
  src: url("../fonts/ColabThi-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ColabThi-webfont.woff") format('woff'), url("../fonts/ColabThi-webfont.ttf") format('truetype'), url("../fonts/ColabThi-webfont.svg#colaborate-thinregular") format('svg');
  font-weight: 300;
  font-style: normal;
}
.flip-enter {
  -webkit-transform: rotateX(90deg);
     -moz-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.2s 1s ease-out;
     -moz-transition: -moz-transform 0.2s 1s ease-out;
          transition: transform 0.2s 1s ease-out;
}
@media all and (max-width: 700px) {
  .flip-enter {
    -webkit-transition: opacity 0.1s;
       -moz-transition: opacity 0.1s;
            transition: opacity 0.1s;
    opacity: 0;
  }
}
.flip-enter.flip-enter-active {
  -webkit-transform: rotateX(0);
     -moz-transform: rotateX(0);
          transform: rotateX(0);
}
@media all and (max-width: 700px) {
  .flip-enter.flip-enter-active {
    opacity: 1;
  }
}
.flip-leave {
  -webkit-transform: rotateX(0);
     -moz-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transition: -webkit-transform 0.2s 0.8s ease-in;
     -moz-transition: -moz-transform 0.2s 0.8s ease-in;
          transition: transform 0.2s 0.8s ease-in;
}
@media all and (max-width: 700px) {
  .flip-leave {
    -webkit-transition: opacity 0.1s 0.1s;
       -moz-transition: opacity 0.1s 0.1s;
            transition: opacity 0.1s 0.1s;
    opacity: 1;
  }
}
.flip-leave.flip-leave-active {
  -webkit-transform: rotateX(90deg);
     -moz-transform: rotateX(90deg);
          transform: rotateX(90deg);
}
@media all and (max-width: 700px) {
  .flip-leave.flip-leave-active {
    opacity: 0;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
         transform: scale(1);
  }
  50% {
    opacity: 0.4;
    -moz-transform: scale(1.1);
         transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
         transform: scale(1);
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
            transform: scale(1);
  }
}
@-moz-keyframes flip {
  0% {
    -moz-transform: rotateX(0deg);
         transform: rotateX(0deg);
  }
  50% {
    -moz-transform: rotateX(90deg);
         transform: rotateX(90deg);
  }
  100% {
    -moz-transform: rotateX(0deg);
         transform: rotateX(0deg);
  }
}
@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes flip {
  0% {
    -webkit-transform: rotateX(0deg);
       -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
       -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
       -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  color: #111;
  font-size: 19px;
  background: url("../img/bg.jpg");
  font-family: 'Colaborate', sans-serif;
  font-weight: 300;
  line-height: 1.3em;
}
@media all and (max-width: 700px) {
  body {
    font-size: 12px;
  }
}
h1,
h2,
h3,
h5,
h6 {
  font-weight: 300;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid #666;
}
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 68px;
}
@media all and (max-width: 700px) {
  .content {
    padding-top: 50px;
  }
}
.App {
  height: 100%;
}
.inner-content,
.inner-storie {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 40px;
}
@media all and (max-width: 700px) {
  .inner-content,
  .inner-storie {
    padding: 0 10px;
  }
}
.blackHeader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  height: 68px;
  width: 100%;
  z-index: 200;
}
@media all and (max-width: 700px) {
  .blackHeader {
    height: 50px;
  }
}
.topNavigation {
  max-width: 660px;
  margin: 13px auto 0;
}
.topNavigation ul {
  margin: 0;
  padding: 0;
}
.topNavigation .menu-item {
  list-style: none;
  float: left;
  width: 33%;
  height: 68px;
  text-align: center;
}
@media all and (max-width: 700px) {
  .topNavigation .menu-item {
    height: 37px;
  }
}
.topNavigation .menu-item a {
  display: block;
  color: #fff;
  height: 55px;
  position: relative;
}
.topNavigation .menu-item a:hover {
  border: 0;
}
@media all and (max-width: 700px) {
  .topNavigation .menu-item a {
    height: 37px;
  }
}
.topNavigation .menu-item .menu-img {
  vertical-align: bottom;
  margin-bottom: -1px;
}
@media all and (max-width: 700px) {
  .topNavigation .menu-item .menu-img {
    height: 11px;
  }
}
.topNavigation .menu-item .menu-logo {
  margin-left: -13px;
}
@media all and (max-width: 700px) {
  .topNavigation .menu-item .menu-logo {
    margin-left: -8px;
    height: 31px;
  }
}
.topNavigation .menu-item .active:after {
  content: ' ';
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -13px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 13px solid #111;
}
.neugierig {
  text-align: center;
  font-size: 4.5em;
  font-weight: 300;
  margin-top: 70px;
}
.neugierig strong {
  font-weight: normal;
  font-weight: 600;
}
@media all and (max-width: 700px) {
  .neugierig {
    margin-top: 30px;
  }
}
.contact {
  height: 2.5em;
  margin: 30px auto 60px;
  padding: 20px 0;
  border-top: 1px dotted;
}
@media all and (max-width: 700px) {
  .contact {
    padding-top: 7px;
    margin-bottom: 25px;
  }
}
.contact .wrapper {
  margin: 0 auto;
  width: 30em;
  max-width: 100%;
}
.contact .wrapper p {
  float: left;
  width: 9.6em;
  margin: 0 auto;
  vertical-align: top;
}
@media all and (max-width: 320px) {
  .contact .wrapper p {
    width: auto;
    margin-right: 15px;
  }
  .contact .wrapper p:last-child {
    margin-right: 0;
  }
}
.news-feed {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  min-height: 800px;
}
.news-feed .loading {
  display: inline-block;
  margin-top: 0;
  -webkit-animation: pulse 1s infinite;
     -moz-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}
.news-feed .load-200 {
  -webkit-transition: 10s;
     -moz-transition: 10s;
          transition: 10s;
}
.news-feed .fb-post {
  margin-bottom: 60px;
  -webkit-animation: fadeIn 3s;
     -moz-animation: fadeIn 3s;
          animation: fadeIn 3s;
}
@media all and (max-width: 700px) {
  .news-feed .fb-post {
    margin-bottom: 20px;
  }
}
.news-feed .fb-post .fb-link {
  display: block;
}
.news-feed .fb-post .fb-link:hover {
  border-bottom: 0;
}
.news-feed .fb-date {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0 0 10px;
}
.news-feed .photo .fb-picture {
  width: 100%;
  max-width: 880px;
  height: auto;
}
.news-feed .link a {
  background-color: rgba(0,0,0,0.02);
  font-size: 0;
  line-height: 0;
}
.news-feed .fb-message {
  margin-top: 10px;
}
@media all and (max-width: 700px) {
  .news-feed .fb-message {
    margin-top: 3px;
  }
}
.more-news-link {
  border-top: 1px dotted;
  padding-top: 20px;
  margin-top: 80px;
}
@media all and (max-width: 700px) {
  .more-news-link {
    margin-top: 30px;
    padding-top: 10px;
  }
}
.impressum {
  background-color: #eee;
  background-color: rgba(0,0,0,0.02);
  position: absolute;
  left: 0;
  margin-top: 50px;
  width: 100%;
  padding: 10px 0;
  font-size: 0.7em;
  color: #777;
  text-align: center;
}
@media all and (max-width: 700px) {
  .impressum {
    margin-top: 0;
  }
}
.stories-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}
@media all and (max-width: 700px) {
  .stories-container {
    background-color: #666;
  }
}
.invalid,
.storie.invalid-up,
.storie.invalid-down,
.storie .storie-item.invalid-left {
  -webkit-transition: -webkit-transform 0.2s;
     -moz-transition: -moz-transform 0.2s;
          transition: transform 0.2s;
}
.storie {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  min-height: 650px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 1.2s;
     -moz-transition: -moz-transform 1.2s;
          transition: transform 1.2s;
}
.storie.up {
  -webkit-transform: translateY(-100%) !important;
     -moz-transform: translateY(-100%) !important;
      -ms-transform: translateY(-100%) !important;
          transform: translateY(-100%) !important;
}
@media all and (max-width: 700px) {
  .storie.up {
    -webkit-transform: translateY(-200%) !important;
       -moz-transform: translateY(-200%) !important;
        -ms-transform: translateY(-200%) !important;
            transform: translateY(-200%) !important;
  }
}
.storie.active {
  -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.storie.down {
  -webkit-transform: translateY(100%) !important;
     -moz-transform: translateY(100%) !important;
      -ms-transform: translateY(100%) !important;
          transform: translateY(100%) !important;
}
@media all and (max-width: 700px) {
  .storie.down {
    -webkit-transform: translateY(200%) !important;
       -moz-transform: translateY(200%) !important;
        -ms-transform: translateY(200%) !important;
            transform: translateY(200%) !important;
  }
}
.storie.invalid-up {
  -webkit-transform: translateY(100px) !important;
     -moz-transform: translateY(100px) !important;
      -ms-transform: translateY(100px) !important;
          transform: translateY(100px) !important;
}
@media all and (max-width: 700px) {
  .storie.invalid-up {
    -webkit-transform: translateY(0) !important;
       -moz-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
            transform: translateY(0) !important;
  }
}
.storie.invalid-down {
  -webkit-transform: translateY(-100px) !important;
     -moz-transform: translateY(-100px) !important;
      -ms-transform: translateY(-100px) !important;
          transform: translateY(-100px) !important;
}
@media all and (max-width: 700px) {
  .storie.invalid-down {
    -webkit-transform: translateY(0) !important;
       -moz-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
            transform: translateY(0) !important;
  }
}
@media all and (max-width: 1000px) {
  .storie {
    -webkit-transition: -webkit-transform 1s 0.1s;
       -moz-transition: -moz-transform 1s 0.1s;
            transition: transform 1s 0.1s;
  }
}
@media all and (max-width: 700px) {
  .storie {
    min-height: 0;
    height: 60%;
    overflow: visible;
  }
}
.storie .storie-title {
  font-size: 2em;
  position: absolute;
  color: #fff;
  text-shadow: 0 0 5px #000, 0 0 70px #000;
}
.storie .arrow {
  margin-top: 150px;
  width: 40px;
  height: 300px;
  display: block;
  cursor: pointer;
  background: url("../img/arrows.png") no-repeat right center;
  direction: ltr;
  text-indent: -9999px;
}
.storie .arrow:hover {
  border-bottom: 0;
}
.storie .arrow.prev {
  float: left;
}
.storie .arrow.next {
  background-position: left;
  float: right;
}
@media all and (max-width: 700px) {
  .storie .arrow {
    margin-top: 60px;
    width: 20px;
    height: 150px;
    background-size: 40px;
  }
}
.storie .storie-text-wrapper {
  position: absolute;
  top: 560px;
  left: 0;
  width: 100%;
  padding: 0 40px;
}
@media all and (max-width: 700px) {
  .storie .storie-text-wrapper {
    top: 100%;
    height: 70%;
    padding: 0;
  }
}
.storie .storie-text-wrapper .storie-text {
  display: block;
  background: url("../img/bg.jpg") #fff;
  border-radius: 0;
  -webkit-box-shadow: 0 0 5px -2px #000;
          box-shadow: 0 0 5px -2px #000;
  margin: 0;
  padding: 20px 40px;
  width: 100%;
}
@media all and (max-width: 700px) {
  .storie .storie-text-wrapper .storie-text {
    font-size: 1.2em;
    padding: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 100%;
  }
}
.storie .storie-item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1.2s;
     -moz-transition: -moz-transform 1.2s;
          transition: transform 1.2s;
  background-size: cover;
  background-position: center;
}
.storie .storie-item.left {
  -webkit-transform: translateX(-100%) !important;
     -moz-transform: translateX(-100%) !important;
      -ms-transform: translateX(-100%) !important;
          transform: translateX(-100%) !important;
}
.storie .storie-item.active {
  -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
.storie .storie-item.right {
  -webkit-transform: translateX(100%) !important;
     -moz-transform: translateX(100%) !important;
      -ms-transform: translateX(100%) !important;
          transform: translateX(100%) !important;
}
.storie .storie-item.invalid-left {
  -webkit-transform: translateX(100px) !important;
     -moz-transform: translateX(100px) !important;
      -ms-transform: translateX(100px) !important;
          transform: translateX(100px) !important;
}
@media all and (max-width: 700px) {
  .storie .storie-item.invalid-left {
    -webkit-transform: translateX(0) !important;
       -moz-transform: translateX(0) !important;
        -ms-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
}
.storie .cover-image {
  height: 300px;
  display: block;
  margin: 200px auto;
}
@media all and (max-width: 700px) {
  .storie .cover-image {
    position: relative;
    top: 25%;
    height: 50%;
    margin: 0 auto;
  }
}
.invalidSlide {
  -webkit-transition: left 0.5s;
     -moz-transition: left 0.5s;
          transition: left 0.5s;
  left: 200px;
}
.inner-storie {
  position: relative;
  height: 100%;
}
.creatives-page {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.creatives-page .inner-content {
  position: relative;
  margin-bottom: 60px;
  border-bottom: 1px solid #111;
  min-height: 100%;
}
.creatives-page .inner-content:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  min-height: 0;
}
@media all and (max-width: 320px) {
  .creatives-page .inner-content {
    position: relative;
    height: 400px;
    margin-bottom: 15px;
    padding-top: 15px;
    min-height: 0;
  }
}
.right-person,
.left-person,
.center-person {
  position: absolute;
  height: 100%;
  width: 70%;
  background-repeat: no-repeat;
  margin-top: -78px;
  bottom: 0;
}
@media all and (max-width: 700px) {
  .right-person,
  .left-person,
  .center-person {
    background-size: 140%;
  }
}
@media all and (max-width: 320px) {
  .right-person,
  .left-person,
  .center-person {
    background-size: 120%;
    width: 55% !important;
  }
}
.right-person {
  background-position: -42px 68px;
  right: -20%;
}
@media all and (max-width: 700px) {
  .right-person {
    background-position: left 50px;
    right: 0;
  }
}
@media all and (max-width: 320px) {
  .right-person {
    background-position: left bottom;
  }
}
.left-person {
  background-position: right 68px;
  left: -20%;
}
@media all and (max-width: 700px) {
  .left-person {
    background-position: right 50px;
    left: 0;
  }
}
@media all and (max-width: 320px) {
  .left-person {
    background-position: right bottom;
  }
}
.center-person {
  position: relative;
  width: 100% !important;
  height: 650px;
  left: 0;
  background-position: center top;
  margin-top: 0;
  padding-top: 0;
}
@media all and (max-width: 700px) {
  .center-person {
    background-size: 100%;
    height: 400px;
  }
}
@media all and (max-width: 320px) {
  .center-person {
    height: 250px;
  }
}
.text,
.right-text,
.center-text {
  width: 50%;
  position: relative;
  z-index: 2;
}
@media all and (max-width: 700px) {
  .text,
  .right-text,
  .center-text {
    width: 48%;
  }
  .text h2,
  .right-text h2,
  .center-text h2 {
    margin-bottom: 0;
  }
}
.text .paragraphs,
.right-text .paragraphs,
.center-text .paragraphs {
  display: block;
  height: 70%;
  overflow: auto;
}
.right-text {
  margin-left: 55%;
}
.center-text {
  width: 100%;
}
