#markdown-editor
  &.editMode
    position         relative
    border           1px solid #eee
    background-color white
    border-radius    2px
    margin           -6px -9px

  .editor
    position         absolute
    width            100%
    white-space      pre-wrap
    word-wrap        break-word
    background-color transparent
    margin           0
    padding          5px 8px

  .code
    font-family 'Noto Serif', serif
    line-height 1.7em
    font-weight normal
    font-style  normal
