#story
  position      relative
  min-height    calc(100vh - 270px)
  margin-top    45px
  margin-left   calc(50% + 90px)
  margin-bottom 60px

  @media $narrow
    margin-left calc(50% + 80px)
  @media $mobile
    margin-left   0
    margin-bottom 30px

  .story-image
    position            fixed
    top                 $header-height
    left                0
    bottom              0
    width               calc(50% + 55px)
    background-size     cover
    transition          opacity 1s
    background-color    $light-grey
    background-position center

    @media $narrow
      width calc(50% + 35px)
      top   $small-header-height
    @media $mobile
      position  static
      display   block
      width     100%
      height    200px
    @media $small-mobile
      height 120px

  .close-button
    $button()
    position         absolute
    right            -7px
    top              -15px
    display          block
    font-size        18px
    line-height      1em
    width            20px
    height           20px

    &.editMode
      top -11px

  .story-title
    margin 0 0 25px
    width  calc(100% - 30px)

    &.editMode
      $title()
      $input()
      display block
      padding 3px 8px
      margin  -4px -9px 21px

    @media $mobile
      margin 35px 0 15px

  .story-text
    line-height 1.7em
    max-width   500px

    &.editMode
      margin-bottom 10px

  .arrow
    $button()
    display          inline-block
    font-size        25px
    line-height      12px
    height           20px
    width            55px
    margin-top       20px

    &.prev
      position     relative
      margin-left  -125px
      margin-right 70px
      z-index      100

    &.next.editMode
      margin-left  -9px
      margin-right 20px

  .edit-panel
    margin 25px 30px

    .file-selector
      display none

    label
    button
      font-size     13px
      padding       2px 8px
      float         right
      clear         right
      display       block
      margin-bottom 15px

    label
      padding 3px 8px

    .delete-page-button
      $button(background-color: $red)

    .edit-image-button
      $button()

  .create-page-button
    $button()
    font-size      13px
    padding        0 8px
    vertical-align bottom
    margin-left    -9px
    height         20px
    margin-top     20px

  .page-number-panel
    font-size     14px
    color         $text-grey
    padding-top   10px
    margin-left   -10px
    text-align    center

    .page-number-button
      $button()
      padding 0 5px
      margin  0 5px

      &:disabled
        opacity 0.5

    .page-number
      color $link-blue
      font-weight bold
