#news-page

  .footer
    background-color $light-grey
    margin-top       50px
    width            100%
    padding          20px 0
    font-size        0.8em
    color            $text-grey
    text-align       center

    a
      margin 0 7px
