#news-post
    margin-bottom 70px
    @media $mobile
      margin-bottom 40px

  .date
    font-size  18px
    color      $text-grey
    margin     0 0 15px
    @media $mobile
      font-size     15px
      margin-bottom 8px

  .link
    position         relative
    border           0
    display          block
    background-color $light-grey

  .picture
    position  absolute
    top       0
    left      0
    width     100%
    height    auto

  .message
    margin-top  18px
    line-height 1.5em
    @media $mobile
      margin-top 12px
